@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    corporate --default,
    business --prefersdark;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#root {
  max-width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

/* ================================
   TYPOGRAPHY SYSTEM
   ================================ */
@layer base {
  h1 {
    @apply text-4xl font-bold text-primary mb-2;
  }

  h2 {
    @apply text-2xl font-semibold text-secondary mb-2;
  }

  p {
    @apply text-base text-base-content leading-relaxed mb-2;
  }

  a {
    @apply text-info hover:underline transition-colors;
  }
  body {
    @apply text-base-content antialiased tracking-tight;
  }
}

@layer components {
  /* Premium modern dashboard card style */
  .dashboard-card {
    @apply bg-base-100 rounded-2xl border border-base-200/60 shadow-xs backdrop-blur-md transition-all duration-300 hover:shadow-md hover:border-base-200;
  }
}
